#Комментарий

#Игнорирует все указанные файлы и папки
test

#Звездочка это какое-то имя. В данном случае мы игнорируем все файлы с расширением css
*.css

#Слэш позволяет прописывать конкретный путь до папки или файла
/img/*.jpg


#Восклицательный знак настраивает исключения
!/img/bkg-form.jpg